.container{
  margin-top: 32px;
  width: 451px;
  background: #FDFDFD;
  border: 1px solid #EBEBEA;
  box-sizing: border-box;
  border-radius: 4px;
}

.resultsUL{
  background: #FDFDFD;
  border-radius: 4px;
  padding: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.resultsUL li{
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  margin-inline-start: 8px;
}